html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*     height: 100vh; */
  color: whitesmoke;
}
.main-screen-text{
  padding: 0;
  margin: 0;
  font-size: 7vw;
}
a{
  text-decoration: none;
  color: whitesmoke;
}

/* START SECTION -HOME- */
#home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* background-color: gray; */
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}
.middle {
  height: 50%;
  margin-top: 75px;
  /* background-color: #335; */
  text-shadow: 1px 1px 5px #133 ;
  color: whitesmoke;
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  z-index: 1;
}
#particles-js{
  position: absolute;
  width: 100%;
  height: 100%;
}
.social-network {
  z-index: 1;
  /* background-color: #334; */
  position: absolute;
  right: 10px;
  top: 25%;
  /*   bottom: 35%; */
  width: 100px;
  height: 43%;
}
.social-network ul {
  list-style-type: none;
}
.social-network ul li {
  padding-top: 15px;
}
.social-network ul li a {
  text-decoration: none;
  color: white;
}

.social-img {
  width: 60px;
  height: 60px;
}

ul li a img:hover{
  box-shadow: 0 0 20px yellow;
}

.navbar {
  background-color: rgb(37, 37, 37);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  opacity: 0.8;
}

.navbar a {
  /* height: 75px;   */
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 14px 50px;
  font-size: 18px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a.active {
  background-color: #15e01c;
  color: white;
}

.navbar .icon {
  display: none;
  background-color: rgb(37, 37, 37);
  
}

@media screen and (max-width: 620px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 620px) {
  .navbar.responsive {
    position: fixed;
    margin-bottom: 40px; 
  }
  .navbar.responsive .icon {
    position: fixed;
    right: 0;
    /* bottom: 0; */
  }
  .navbar.responsive a {
    /* position: fixed; */
    /* float: left; */
    display: block;
    padding: 10px 0;
    width: 100%;
    /* text-align: left; */
  } 

  .middle{
    margin-top: 45%; 
  } 
 /* responsive social media */
 .social-network {
  z-index: 1;
  position: absolute;
  left: 15%;
  top: 85%;
  width: 100px;
  height: 43%;
}
.social-network ul{
  /* width: 100%; */
  display: flex;
  flex-direction: row;
}
.social-network ul li {
  float: left;
  margin-right: 20px;
  /* width: 20%;   */
}

 /* end of sm */
}
/* END SECTION -HOME- */
/* START SECTION -ABOUT- */
#about {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #6a85b6 0%, #bac8e0 100%);
  text-align: center;
  text-shadow: 1px 1px 5px #121;  
}
#about h1{
  color: whitesmoke;
  margin-top: 60px;
  font-size: 7vw;
} 

#about .text-about-me{
  text-shadow: 1px 1px 5px #321; 
  border: 10px double darkslategrey;  
  border-radius: 15px;
  margin: 10px 15%;
  padding: 1%;
  /* width: 60%; */
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  
} 
@media screen and (max-width: 900px) {
  #about .text-about-me{
    margin: 0;
    border: 2px solid slategray;
    font-size: 1.2rem;
  }
}
 
/* END SECTION -ABOUT- */
/* START SECTION -PROJECTS- */

#projects {
  padding-top: 60px;
  
  display: flex;
  flex-direction: column;
  height: 110vh;
  width: 100%;
  color: white;
  /* background-color: #133; */
  /* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
  /* background-image: linear-gradient(to bottom, #434343 0%, black 100%); */
  /* background-image: linear-gradient(to bottom, #868f96 0%, #596164 100%); */
  background-image: linear-gradient(to top, #243949 0%, #517fa4 100%);
  /* padding-bottom:70px;   */
}
#projects h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  
}
.img-carousel {
  margin-left: 10%;
  margin-right: 10%;
}
.img-carousel a {
  color: white;
  text-decoration: none;
  /* padding-right: 20px;   */
}
.img-carousel a img {
  height: 180px;
}
.img-carousel a img:hover{
  box-shadow: 0 0 25px yellow;
}


#keyframes{
  width: 100%;
  height: 100%;;
}
.square{
  height: 15px;
  width: 15px;
  background-color:peru; 
}